include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
include "./cfg/workspaces.kdl"
include "./cfg/animation.kdl"

include "./noctalia.kdl"

spawn-at-startup "sh" "-c" "sleep 5 && wpctl set-profile @DEFAULT_AUDIO_SINK@ 1"
